package templates

import "frcSummary/internal/model"

templ Analysis(request model.AnalysisRequest, response model.AnalysisResponse) {
	<div>
		<h2>Analysis Result</h2>

		<div id="llm-response">
			<h3>LLM Response</h3>
			<p>
				{ response.Result }
			</p>
			<p>
				<i>{ response.Explanation }</i>
			</p>
		</div>
	</div>
}
