{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ template "title" .}}</title>
        <script src="/web/js/htmx.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/digitallytailored/classless@latest/classless.min.css"
        />
    </head>
    <body>
        <header>
            <h1>My Analysis App</h1>
        </header>
        <main>
            {{ if eq .TemplateName "home"}} {{ template "content" .}} {{end}}
        </main>
        <footer>
            <p>&copy; 2024 My App</p>
        </footer>
    </body>
</html>
{{end}}
