package templates

templ Home() {
	<div>
		<h1>Welcome to My Analysis App!</h1>
		<form hx-get="/analyze" hx-ext="debug"  hx-target="#analysis-result" hx-swap="innerHTML" hx-boost="true" hx-push-url="false">
			<button type="submit">Analyze</button>
		</form>
		<div id="analysis-result">
			Click Analyze to see the results here.
		</div>
	</div>
}
